<%- include('../layouts/header.ejs')%>



<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1></h1>
                <nav class="d-flex align-items-center">
                    <!-- <a href="index.html"><span class="lnr lnr-arrow-right"></span></a> -->
                    <a href="category.html"></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../user-assets/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p></p>
                        <a class="primary-btn" href="/signup">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" id="myForm" action="/login" method="post" >
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" onkeyup="emailValidation()" >
                            <span id="emailError" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" onkeyup="passwordValidation()" >
                            <span id="passwordError" class="text-danger"></span>
                        </div>
                       
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <a href="/forgotPassword">Forgot Password?</a>
                        </div>
                    </form>
                    <div>
                        <button class="demo-btn" onclick="copyEmail()">Demo Email</button>
                        <button class="demo-btn" onclick="copyPassword()">Demo Password</button>
                    </div>
                    <%=(typeof message!=='undefined')?message:""%>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


<%- include('../layouts/footer.ejs')%>

<style>
    .demo-btn {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
        transition: background-color 0.3s ease;
    }

    .demo-btn:hover {
        background-color: #218838;
    }

    .demo-btn:focus {
        outline: none;
    }
</style>

<script>

 

    // Functions to copy demo credentials to clipboard and paste into login fields
    function copyEmail() {
        const email = "sreekumartk759@gmail.com";
        navigator.clipboard.writeText(email).then(() => {
            document.getElementById("email").value = email;
        });
    }

    function copyPassword() {
        const password = "Qwerty123$";
        navigator.clipboard.writeText(password).then(() => {
            document.getElementById("password").value = password;
        });
    }

    const myForm = document.getElementById("myForm")


  
    const email = document.getElementById("email")
    const password = document.getElementById("password")
    
    const emailError = document.getElementById("emailError")
    const passwordError = document.getElementById("passwordError")

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
    function emailValidation(){
        const emailValue = email.value
        if(!emailValue.match(emailRegex)){
            emailError.innerHTML = 'Email not valid'
            emailError.style.color = 'red'
            email.style.border = "solid 2px red";
            return false;
        }
        emailError.innerHTML = ""
        emailError.style.color = "green"
        email.style.border = "solid 2px green";
        return true
    }

    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,}$/;
    function passwordValidation(){
        const passwordValue = password.value
        if(!passwordValue.match(passwordRegex)){
            passwordError.innerHTML = 'Password should contain atleast 8 characters 1 number and a special chara'
            passwordError.style.color = 'red'
            password.style.border = "solid 2px red";
            return false;
        }
        passwordError.innerHTML = ""
        passwordError.style.color = "green"
        password.style.border = "solid 2px green";
        return true
    }
  

    myForm.addEventListener("submit",(event)=>{
        event.preventDefault();
        if(!emailValidation() || !passwordValidation()) {
            return false
        }else{
            myForm.submit()
        }

    })


</script>