<%- include('../layouts/header.ejs')%>



<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1></h1>
                <nav class="d-flex align-items-center">
                    <!-- <a href="index.html"><span class="lnr lnr-arrow-right"></span></a> -->
                    <a href="category.html"></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="../user-assets/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>New to our website?</h4>
                        <p></p>
                        <a class="primary-btn" href="/signup">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Log in to enter</h3>
                    <form class="row login_form" id="myForm" action="/login" method="post" >
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" onkeyup="emailValidation()" >
                            <span id="emailError" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" onkeyup="passwordValidation()" >
                            <span id="passwordError" class="text-danger"></span>
                        </div>
                       
                        <div class="col-md-12 form-group">
                            <button type="submit" value="submit" class="primary-btn">Log In</button>
                            <!-- <a href="/forgotPassword">Forgot Password?</a> -->
                        </div>
                    </form>
                    <div class="demo-user">
                        <p>Demo user : sreekumartk759@gmail.com</p>
                        <p>Demo password : Qwerty123$</p>
                    </div>
                    <%=(typeof message!=='undefined')?message:""%>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Login Box Area =================-->


<%- include('../layouts/footer.ejs')%>

<style>
    .demo-user {
        max-width: 300px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        font-family: Arial, sans-serif;
    }
    .demo-user p {
        margin: 0 0 10px;
        font-size: 14px;
        color: #333;
    }
</style>


<script>

    const myForm = document.getElementById("myForm")


  
    const email = document.getElementById("email")
    const password = document.getElementById("password")
    
    const emailError = document.getElementById("emailError")
    const passwordError = document.getElementById("passwordError")

    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
    function emailValidation(){
        const emailValue = email.value
        if(!emailValue.match(emailRegex)){
            emailError.innerHTML = 'Email not valid'
            emailError.style.color = 'red'
            email.style.border = "solid 2px red";
            return false;
        }
        emailError.innerHTML = ""
        emailError.style.color = "green"
        email.style.border = "solid 2px green";
        return true
    }

    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,}$/;
    function passwordValidation(){
        const passwordValue = password.value
        if(!passwordValue.match(passwordRegex)){
            passwordError.innerHTML = 'Password should contain atleast 8 characters 1 number and a special chara'
            passwordError.style.color = 'red'
            password.style.border = "solid 2px red";
            return false;
        }
        passwordError.innerHTML = ""
        passwordError.style.color = "green"
        password.style.border = "solid 2px green";
        return true
    }
  

    myForm.addEventListener("submit",(event)=>{
        event.preventDefault();
        if(!emailValidation() || !passwordValidation()) {
            return false
        }else{
            myForm.submit()
        }

    })


</script>